# Arquivos de configuração do IDE
.vscode/

# Arquivos objeto e executáveis
*.o
/lab2/lab2
/lab3/lab3
/lab4/lab4
/lab5/lab5

# Arquivos específicos do gdb
*.gdbinit

# Arquivos core gerados por crashes
core.*
video.o-*
*.o-*

# Arquivos de log e saída
output.txt
trace.txt
